/******************************************************************
Site Name:
Author:

Stylesheet: TinyMCE Editor

This stylesheet is loaded automatically by Wordpress when compiled
and placed in the root theme directory folder as editor-style.css

For more info, check out the codex:
http://codex.wordpress.org/Editor_Style

******************************************************************/
/* Wrap the entire post style inside the TinyMCE selector, as suggested
here http://codex.wordpress.org/Function_Reference/add_editor_style */
body#tinymce.wp-editor {
  /******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
  /*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
  /*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
  /******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
  /*********************
FONT FACE (IN YOUR FACE)
*********************/
  /*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
  /*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
  /*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
  /*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #5c6b80;
  -webkit-font-smoothing: antialiased;
  /*********************
	LINK STYLES
	*********************/
  /******************************************************************
	H1, H2, H3, H4, H5 STYLES
	******************************************************************/
  padding: 1.5em 1.5em 0;
  /*********************
		LARGER MOBILE DEVICES
		This is for devices like the Galaxy Note or something that's
		larger than an iPhone but smaller than a tablet. Let's call them
		tweeners.
		*********************/ }
  body#tinymce.wp-editor p {
    -ms-word-wrap: normal;
    word-break: normal;
    word-wrap: normal;
    -webkit-hyphens: none;
    -ms-hyphens: none;
        hyphens: none;
    -webkit-hyphenate-before: 2;
    -webkit-hyphenate-after: 3;
    hyphenate-lines: 3; }
  body#tinymce.wp-editor a, body#tinymce.wp-editor a:visited {
    color: #475691;
    /* on hover */
    /* on click */ }
    body#tinymce.wp-editor a:hover, body#tinymce.wp-editor a:focus, body#tinymce.wp-editor a:visited:hover, body#tinymce.wp-editor a:visited:focus {
      color: #384472; }
    body#tinymce.wp-editor a:link, body#tinymce.wp-editor a:visited:link {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }
  body#tinymce.wp-editor h1, body#tinymce.wp-editor .h1, body#tinymce.wp-editor h2, body#tinymce.wp-editor .h2, body#tinymce.wp-editor h3, body#tinymce.wp-editor .h3, body#tinymce.wp-editor h4, body#tinymce.wp-editor .h4, body#tinymce.wp-editor h5, body#tinymce.wp-editor .h5 {
    text-rendering: optimizelegibility;
    font-weight: 500; }
    body#tinymce.wp-editor h1 a, body#tinymce.wp-editor .h1 a, body#tinymce.wp-editor h2 a, body#tinymce.wp-editor .h2 a, body#tinymce.wp-editor h3 a, body#tinymce.wp-editor .h3 a, body#tinymce.wp-editor h4 a, body#tinymce.wp-editor .h4 a, body#tinymce.wp-editor h5 a, body#tinymce.wp-editor .h5 a {
      text-decoration: none; }
  body#tinymce.wp-editor h1, body#tinymce.wp-editor .h1 {
    font-size: 2.5em;
    line-height: 1.333em; }
  body#tinymce.wp-editor h2, body#tinymce.wp-editor .h2 {
    font-size: 1.75em;
    line-height: 1.4em;
    margin-bottom: 0.375em; }
  body#tinymce.wp-editor h3, body#tinymce.wp-editor .h3 {
    font-size: 1.125em; }
  body#tinymce.wp-editor h4, body#tinymce.wp-editor .h4 {
    font-size: 1.1em;
    font-weight: 700; }
  body#tinymce.wp-editor h5, body#tinymce.wp-editor .h5 {
    font-size: 0.846em;
    line-height: 2.09em;
    text-transform: uppercase;
    letter-spacing: 2px; }
  body#tinymce.wp-editor p {
    margin: 0 0 1.5em; }
  body#tinymce.wp-editor table {
    width: 100%;
    border: 1px solid #eaedf2;
    margin-bottom: 1.5em; }
    body#tinymce.wp-editor table caption {
      margin: 0 0 7px;
      font-size: 0.75em;
      color: #9fa6b4;
      text-transform: uppercase;
      letter-spacing: 1px; }
  body#tinymce.wp-editor tr {
    border-bottom: 1px solid #eaedf2; }
    body#tinymce.wp-editor tr:nth-child(even) {
      background-color: #f8f9fa; }
  body#tinymce.wp-editor td {
    padding: 7px;
    border-right: 1px solid #eaedf2; }
    body#tinymce.wp-editor td:last-child {
      border-right: 0; }
  body#tinymce.wp-editor th {
    background-color: #f8f9fa;
    border-bottom: 1px solid #eaedf2;
    border-right: 1px solid #eaedf2; }
    body#tinymce.wp-editor th:last-child {
      border-right: 0; }
  body#tinymce.wp-editor blockquote {
    margin: 0 0 1.5em 0.75em;
    padding: 0 0 0 0.75em;
    border-left: 3px solid #F82F5D;
    font-style: italic;
    color: #9fa6b4; }
  body#tinymce.wp-editor dd {
    margin-left: 0;
    font-size: 0.9em;
    color: #787878;
    margin-bottom: 1.5em; }
  body#tinymce.wp-editor img {
    margin: 0 0 1.5em 0;
    max-width: 100%;
    height: auto; }
    body#tinymce.wp-editor img.wp-more-tag {
      height: 20px; }
  body#tinymce.wp-editor .size-auto,
  body#tinymce.wp-editor .size-full,
  body#tinymce.wp-editor .size-large,
  body#tinymce.wp-editor .size-medium,
  body#tinymce.wp-editor .size-thumbnail {
    max-width: 100%;
    height: auto; }
  body#tinymce.wp-editor pre {
    background: #052A38;
    color: #f8f9fa;
    font-size: 0.9em;
    padding: 1.5em;
    margin: 0 0 1.5em;
    border-radius: 3px; }
  body#tinymce.wp-editor .mce-content-body img.mce-wp-more {
    height: 20px !important; }
  body#tinymce.wp-editor ul, body#tinymce.wp-editor ol {
    list-style-type: disc; }
  @media only screen and (min-width: 481px) {
    body#tinymce.wp-editor {
      /* at this larger size, we can start to align images */ }
      body#tinymce.wp-editor .alignleft, body#tinymce.wp-editor img.alignleft {
        margin-right: 1.5em;
        display: inline;
        float: left; }
      body#tinymce.wp-editor .alignright, body#tinymce.wp-editor img.alignright {
        margin-left: 1.5em;
        display: inline;
        float: right; }
      body#tinymce.wp-editor .aligncenter, body#tinymce.wp-editor img.aligncenter {
        margin-right: auto;
        margin-left: auto;
        display: block;
        clear: both; } }
