/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $display;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba($white, 0.8);
  font-size: 1.2em;
  //font-size: 34px;
  line-height: 34px;
  font-weight: bold;
  padding: 0 24px;
  box-shadow:inset 0 -2px 0 0 darken($primary, 10%), inset 0 2px 0 0 lighten($primary-lt, 10%);
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  @include transition(all 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
    box-shadow:inset 0 2px 0 0 darken($primary, 10%), inset 0 -2px 0 0 lighten($primary-lt, 10%);
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
    box-shadow: inset 0 0px 0 0 #B9E9FB;
  } // end active

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.accent-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $accent;

  &:hover,
  &:focus {
    background-color: darken($accent, 4%);
  } // end hover

  &:active {
    background-color: darken($accent, 5%);
  } // end active

} // end accent button

.wpcf7-submit {
  @extend %btn; // here we load the btn defaults
  background-color: $primary;
  min-width: 200px;
  min-height: 50px;
}
