/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

img {
	image-rendering: -webkit-optimize-contrast;
}

#inner {
	display: flex;

	&__header {
		flex-direction: column;
		display: flex;
	}

	&__content {
		display: flex;

		ul.info-nav {
			list-style: none;
			margin:0;
			padding: 0;
			margin:-2em 0 2em 0;
			font-family: $display;

			li {
				padding: 0;
				margin: 1em 0;

				&:nth-child(1n+2) {
					margin-right: 2em;
				}

				&:first-child {
					text-transform: uppercase;


				}

				a {
					text-decoration: none;
					color: $primary;

					&::after {
						content: "\f103";
						font-family: fontawesome;
						position: relative;
						bottom: -2px;
						right: -.5em;

					}
				}

			}
		}

		ul.content {
			&__flexible {
					list-style: none;
					margin:0;
					padding: 0;



					>li {
						margin:0;
						padding: 0;

						&:not(:first-child) {
							border-top: 1px solid rgba($black, 0.1);
						}
					}
				.in-house_procedures {
					ul {
						list-style: none;

						li {
							padding: 0;
							margin:0;
							padding: .5em;
							font-weight: bold;

							&:nth-child(even) {
								background-color: rgba($primary, 0.1);
							}
						}
					}
				}
				.distinctions {
					ul {
						list-style: none;
						li {
							padding: 0;
							margin:0;
							padding: .5em;
							flex-direction: column;

							&:nth-child(even) {
								background-color: rgba($primary, 0.1);
							}


							div {
								width: 92%;
								&:first-child {
									width: 8%;
									font-family: $display;
									min-width: 60px;


									span {
										width:65%;
										display: inline-block;
										color: $primary;
										font-weight: bold;
										font-style: italic;
									}
								}
							}
						}
					}
				}

				.education, .specialties {
					ul {
						list-style: none;
						li {
							padding: 0;
							margin:0;
							padding: .5em;
							flex-direction: column;

							&:nth-child(even) {
								background-color: rgba($primary, 0.1);
							}
						}
					}
				}

				.fees {
					ul.fees--repeater {
						list-style: none;
						margin-left: -3em;
						margin-right: -3em;
						li {
							padding: 0;
							margin:0;
							flex-direction: row;

							&.description {
								font-size: 0.8em;
								text-align: left;
								align-items: flex-end;

								div {
									text-align: left !important;
									border: 0;

									&::before {
										content: "" !important;
									}
								}
							}

							div {
								border-right: 1px solid $primary;
								padding: 0.5em;
								box-sizing: border-box;

								&:first-child {
									width: 15%;
									font-style: italic;
								}
								&:nth-child(2) {
									width: 55%;
								}
								&:nth-child(3), &:nth-child(4) {
									width: 15%;
									text-align: right;

									&:before {
										content: "$";
									}
								}

								&:nth-child(4) {
									border-right: 0;
								}
							}


							&:nth-child(even) {
								background-color: rgba($primary, 0.1);
							}
						}
					}
				}
				//end fees
			}
		}
	}
}

.social {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-self: flex-end;
	margin-top: 2em;

	&__icon {
		&--container {
			display: flex;
			background-color: $secondary;
			width: 2em;
			height: 2em;
			border-radius: 4em;
			justify-content: center;
			align-items: center;
			font-size: 1.5em;
			margin: 0 .5em;
			color: $primary;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}


/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {
	.entry-content {
		img {
			width: 100%;
			height: auto;
		}
	}
}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}



/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	font-family: $display;
	color: $primary;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
	font-weight: 700;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;

	&.reduced {
		font-size: 1.25em;
	}
}

h3, .h3 {
	font-size: 1.125em;
	color: $black;
	margin-top: 0;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: regular;
	color: $black;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $white;


	&__navigation {
		ul.sub-menu {

				li {
					&::after {
						content: "";
						display: none;
					}

			}
		}
		ul {
			li {
				a {
					text-transform: uppercase;
					font-weight: normal;
				}
			}
		}
	}

	#logo {
		margin: 0;
		text-align: center;

		img {

			max-width: 300px;
			height: auto;
		}

		a {
			color: $white;
		}
	}
}
/*********************
NAVIGATION STYLES
*********************/

@media only screen and (max-width: 48em) {

	.top-nav {
		flex-direction: row !important;
		flex-wrap: wrap;

		.sub-menu {
			margin-top: 0;

			> li {
				text-align: left;
				a {
				padding-left: 0.75em !important;
				margin-left: 0.75em;
				border-left: 1px solid $primary-lt;
				}
			}
		}
		> li {
			width: 49%;
			text-align: left !important;
		}
	}

}
/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.

*/
#mobile-nav {
	text-align: center;
	margin-bottom: 1em;
	margin-top:-1em;
	transition: all .5s;
	margin-left: auto;
	margin-right: auto;

	&.show {
		margin-top: 0em;
		padding: .5em;
		background-color: white;

		&:after {
			content: "\f106";
			text-align: center;
			width: 100%;
			display: inline;
			font-family: fontawesome;

		}
	}

	&:after {
		content: "\f107";
		text-align: center;
		width: 100%;
		display: inline;
		font-family: fontawesome;

	}

}



.nav {
	border-bottom: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	opacity: 0;
	height: 0;
	transition: all .5s;

	&.show {
		opacity: 1;
		height: 100%;
	}

	li {
	border-bottom: 1px solid white;
	text-align: center;

		a {
			display: block;
			color: $link-color;
			text-decoration: none;
			padding: 0.75em;


			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#main {

	margin: 1em auto;
}

$background-color: rgba($white, 0.9);
$color-white: #fff;
$title-pad: 0.25em;
$title-lineheight: $title-pad + 1;

.highlight {
	display: inline;
	background:$background-color;
	//padding: $title-pad;
}

.highlight--wrapping {
	position: relative;
	left: $title-pad;
	padding-left: 0;
	box-shadow: $title-pad 0 0 $background-color,
							$title-pad*-1 0 0 $background-color;
}

.hero {
	margin-bottom: 2em;
	margin-top: 2em;

		&__image {
			width: 100%;
			&--full {
				height: 60vh;
				display: flex;
				background-size: cover;
				background-repeat: no-repeat;
				max-width: 1600px;
				margin:0 auto;
				filter: url('#colors');
			}
		}

		&__content {
			width: 100%;

			p {
				font-family: $display;
				font-weight: 300;
				font-size: 4em;
				line-height: 1.2;
				color: $primary;
				//text-shadow: 1px 1px 0 rgba($primary-dk,0.8);
			}

			&--left {
				align-self: center;
				margin-top: -65vh;
			}

			&--medium {
				p {font-size: 3em;}
			}

			.content-boxes {
				margin-top: -15vh;
				z-index: 99;
				position: relative;

				&__header {
					padding: 0 1em;
					$header-height:4.7em;
					height: $header-height;
					display: flex;
					justify-content: center;
					flex-direction: column;
					text-decoration: none;

					p {
						padding: 0;
						margin: 0;
						color: $white;
						font-family: $display;
						font-size: 1.2em;
						line-height: 1;
						text-shadow: 1px 1px 1px rgba($primary-dk, 0.3);
						display: flex;
						align-items: center;
						text-decoration: none;
						font-weight: normal;

						&:hover {
							&:after {
								content: "\f061";
								font-family: fontawesome;
								width: 100%;
								text-align: right;
								text-shadow: 1px 1px 1px $primary-lt;
								color: $primary-dk;
								transition: all .5s;
							}
						}

						&:before {
							float: left;
							margin-right: 0.2em;
							font-family: fontawesome;
							font-size: 2em;
							text-shadow: 0px 0px 0px;
							transition: all .5s;
						}

						&:after {
							content: "\f0a9";
							font-family: fontawesome;
							width: 100%;
							text-align: right;
							text-shadow: 0px 0px 0px;
							color: rgba($primary-dk, 0.2);
						}

					}
				}

				&__content {
					background-color: rgba($primary-dk, 0.2);
					$header-height:4.7em;
					height: unquote(" calc(100% - #{$header-height})");
					padding: 1em;
					border-top: 1px solid $white;
					box-shadow: 0px -3px 5px -3px rgba($primary-dk, 0.6);

					a {
						color: $white;
						font-weight: bold;
					}

					p, ul {
						font-size: 1.1em;
						line-height: 1.2em;
						color: $white;
						text-shadow: 0px 0px 0px !important;
						font-weight: normal;
						font-family: $sans-serif;
						margin:0;
					}

					ul {
						li {
							margin-bottom: .5em;

							&::before {
								content: "\f0f0";
								font-family: fontawesome;
								display: inline-block;
								padding-right: .5rem;
								color: $primary-md;
							}
						}
					}
				}

				>div:first-child {
					border-radius: 10px 0px 0 0;
				}
				>div:last-child {
					border-radius: 0px 10px 0 0;
				}

				>div:nth-child(1) {
					background-color: darken($primary-lt, 20%);
					.content-boxes__header {
						p:before {
							content: "\f073";
							color: $primary-lt;
						}
					}
				}

				>div:nth-child(2) {
					background-color: darken($primary-lt,15%);
					.content-boxes__header {
						p:before {
							content: "\f075";
							color: $primary-lt;
						}
					}
				}

				>div:nth-child(3) {
					background-color: darken($primary-lt, 10%);
					.content-boxes__header {
						p:before {
							content: "\f041";
							color: $primary;
						}
					}
				}

				>div:nth-child(4) {
					background-color: $primary-lt;

					.content-boxes__header {
						p:before {
							content: "\f0f8";
							color: $primary;
						}
					}
				}

				&>div {
					padding: 0;
				}

			}
			&--single {
				.content-boxes {
					min-height: 10vh !important;
					p {
						line-height: 1.5em;
					}

					>div {
						border-radius: 10px 10px 0 0 !important;
					}

					&__content {
						background-color: rgba($primary-dk, 1);
						border-top: 0px solid $white;
						height: auto !important;
					}
				}
			}
		}
}

.flex-direction {
	display:flex;

	&--row {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	&--column {
		flex-direction: column;
	}
}

.collapse {
	&--bottom {
		margin-bottom: 0 !important;
	}

	&--top {
		margin-top: 0 !important;
	}
}

.wpcf7 {
	br {
		display: none;
	}

	.option-fields {
		background-color: $primary-lt;
		border-radius: 4px;
		padding: .5em;

		label, p {
			color: $primary-dk;
		}
	}
}

.content {
	margin-top:2em;
	margin-bottom: 2em;

	&--secondary {
		display: flex;
		margin-bottom: 2em;

		.content-boxes {

			&__header {
				$header-height: 2.7em;
				padding: 0 1em;
				height: $header-height;
				display: flex;
				justify-content: flex-start;
				flex-direction: row;

				p {
					padding: 0;
					margin: 0;
					color: $white;
					font-family: $display;
					font-size: 1.2em;
					line-height: 1;
					text-shadow: 1px 1px 1px rgba($primary-dk, 0.3);
					display: flex;
					align-items: center;

				}

				a {
					color: $link-color;
					display: flex;
					margin-left: auto;
					align-items: center;
					text-decoration: none;
					font-size: .9em;
					font-family: $display;
					font-weight: bold;
					transition: all 1s;

					&:after {
						content: "\f0a9";
						font-family: fontawesome;
						margin-left: .2em;

					}
				}

				a:hover {
					&:after {
						content: "\f061";
						font-family: fontawesome;
						margin-left: .2em;

					}
				}
			}

			&__content {
				background-color: rgba($primary-dk, 0.2);
				$header-height:2.7em;
				height: unquote(" calc(100% - #{$header-height})");
				padding: 1em;
				border-top: 1px solid $white;
				box-shadow: 0px -3px 5px -3px rgba($primary-dk, 0.6);

				a {
					color: #fff;
					font-weight: bold;
				}

				p {
					margin: 0;
					color: $white;
					font-size: 1.1em;
				}
				&--white {
					background-color: white !important;
				}
			}

			.ecs-event-list {
				margin:0;

				h4.entry-title {
					a {
						font-size: 0.7em;
						color: $primary;
					}

					&:after {
						content: "\f0a9";
						font-family: fontawesome;
						margin-left: .2em;
						font-size: .5em;
						color: $primary-lt;
					}
				}
				.ecs-event {
					border-bottom: 1px solid $primary-dk;
					padding-bottom: 2em;
					padding-top: 1em;

					p {
						color: $black;
					}

					.duration {
						color: $primary-dk;
						font-weight: bold;
						display: inline-block;
						margin-top: 1em;
					}

					&:first-child {
						padding-top: 0;
					}

					&:last-child {
						border-bottom: 0;
						padding-bottom: 0;
					}
				}
			}
			>div:first-child {
				border-radius: 10px 0px 0 0;
			}
			>div:last-child {
				border-radius: 0px 10px 0 0;
			}

			>div:nth-child(1) {
				background-color: darken($primary-lt, 20%);
			}

			>div:nth-child(2) {
				background-color: darken($primary-lt,15%);
			}

			>div:nth-child(3) {
				background-color: darken($primary-lt, 10%);
			}

			&>div {
				padding: 0;
			}
		}
	}

	&__full-width {
		padding: 2em 0;
		width: 100%;

		&--lt-blue {
			background-color: rgba($primary-lt, 0.1);
		}

		&--dk-blue {
			background-color: $black;

			p, label {
				color: #EBFAFF;
			}
		}

		&--centered {
			>div {
				display: flex;
				justify-content: center;
				flex-direction: column;

				h1 {
					text-align: center;
				}

				p {
					max-width: 660px;
					align-self: center;
				}
			}

			&.making-an-appointment {
				ul {
					display: flex;
					flex-wrap: wrap;

					li {
						margin-bottom: 2em;
						display: flex;
						flex-direction: row;

						&:hover {
							&:before {
								content: "\f019";
								transition: all .5s;
								font-size: 1.5em;
								width: 1.2em;
							}
						}

						&:before {
							content: "\f0f6";
							font-family: fontawesome;
							color: $primary;
							font-size: 1.5em;
							transition: all .5s;
							width: 1.2em;
						}

						>div, >a {
							margin: 0 1em;
							text-decoration: none;

							p {
								color: $text-color;
							}

						}
					}
				}

				h4, .h4, p {
					margin: 0;
				}
			}

		}
	}

	&.staff {

		.content-block {
			//background-color: $primary-lt;
			height: 400px;
			display: flex;
			justify-content: flex-end;
			flex-direction: column;
			margin-bottom: 1.5em;
			background-repeat: no-repeat;
			background-size: cover;
			padding: 1em;

			.staff__category {
				color: $primary;
				text-decoration: none;
				font-weight: bold;
				font-size: 0.8em;
				text-align: left;
				padding-left: 0;
				display: flex;
				align-content: flex-start;
				justify-content: flex-start;
				margin-top: -2.6em;
				margin-left: -1em;
			}

			&.extra-info {
				height: 636px;
			}

			>div {
				//background-color: white;
				height: 100%;
				justify-content: flex-end;
				display: flex;
				flex-direction: column;
				//padding: 1em;
			}
		}

		.staff__name {
			font-size: 2.5em;
			color: $black;
			font-weight: bold;
			line-height: 1.2;
			font-family: $display;
		}

		.staff__role {
			color: $primary-dk;
			font-style: italic;
			font-size: .9em;
			font-family: $sans-serif;
		}

		.staff__qualifications {
			color: $black;
			font-size: .9em;
			font-family: $sans-serif;
		}
	}

	.recent-news {
		img {
			width: 100%;
			height: auto;
		}

		&__category a{
			color: $primary;
			text-decoration: none;
			font-weight: bold;
			font-size: 0.8em;

		}

		&__title a {
			font-size: 1.5em;
			font-family: $display;
			color: $black;
			font-weight: bold;
			margin-top: 1em;
			margin-bottom: .1em;
			line-height: 1;
			text-decoration: none;
			display: block;
		}

		&__date {
			font-size: .9em;
			color: $primary;
			font-style: italic;
			margin-top: 0;
			margin-bottom: 1.5em;
			font-family: $sans-serif;
		}

		p {
			color: $black;
			font-family: $sans-serif;
			font-size: 1em;
		}
	}

	.contact {

	}
}

.blog-page {
	&:before {
		content: "\f1ea";
	}
}

a.see-all {
	color: $link-color;
	text-align: right;
	text-decoration: none;
	font-size: .9em;
	font-family: $display;
	font-weight: bold;
	transition: all 1s;

	&:after {
		content: "\f0a9";
		font-family: fontawesome;
		margin-left: .2em;

	}

	&:hover {
		&:after {
			content: "\f061";
			font-family: fontawesome;
			margin-left: .2em;

		}
	}
}
#content {
	margin-top: 0em;

	.article {
		&__header {
			border-bottom: 1px solid rgba($primary-dk, 0.3);
	    margin-bottom: 1.5em;
	    padding-bottom: 1.5em;
			text-transform: capitalize;

			& .sample-page {
				&:before {
					content: "\f073";
				}
			}

			& .blog-page {
				&:before {
					content: "\f1ea";
				}
			}
		}
	}

	.post {
		&__header {
			>div {
				padding: 0 1em;
			}
		}

		&__content {
			padding: 0 1em;
			border-bottom: 1px solid rgba($primary-dk, 0.3);
			margin-bottom: 2em;
			padding-bottom: 2em;
		}
	}

	.read-more {
		text-decoration: none;
		display: block;
		padding-top: 1em;
	}

	h1, .h1 {
		text-align: center;

		&:before {
			font-family: fontawesome;
			font-weight: 100;
			margin-right: .5em;
		}
	}
}

		.hentry {
			background-color: $white;
			border-radius: 3px;
			margin-bottom: 1.5em;

			header {
				border-bottom: 1px solid $light-gray;
				//padding: 1.5em;

				img {
					max-width: 100%;
					height: auto;
					border-top: 2px solid $primary;
				}
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {
			font-size: 2em;
			justify-content: flex-end;
			align-self: center;
			margin:0em auto 1em auto;
		}

		.entry-title {
			font-weight: bold;
			font-family: $display;
			text-align: left !important;
			font-size: 2.5em;


			a {
				color: $black;
			}
		}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $primary;
			font-style: italic;
			margin: 0;

			time {}
		}

		p.category {
			margin: 0;

			a {
				text-decoration: none;
				font-weight: bold;
				color: $primary;
				font-size: 0.9em;
			}
		}

		/* entry content */
		.entry__content {
			padding: 1.5em 1.5em 0;

			p {
				margin: 0 0 1.5em;
				line-height: 1.9em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {
					list-style-type: disc;
				li {
					margin:.5em 0 .5em 2em;
				}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $accent;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */


		/* image gallery styles */
		.gallery-columns-2 .gallery-item {
			max-width: 50%;
		}

		.gallery-columns-3 .gallery-item {
			max-width: 33.33%;
		}

		.gallery-columns-4 .gallery-item {
			max-width: 25%;
		}

		.gallery-columns-5 .gallery-item {
			max-width: 20%;
		}

		.gallery-columns-6 .gallery-item {
			max-width: 16.66%;
		}

		.gallery-columns-7 .gallery-item {
			max-width: 14.28%;
		}

		.gallery-columns-8 .gallery-item {
			max-width: 12.5%;
		}

		.gallery-columns-9 .gallery-item {
			max-width: 11.11%;
		}
		.gallery {
			.gallery-item {
				display: inline-block;
		    padding: 1.79104477%;
		    text-align: center;
		    vertical-align: top;
		    width: 100%;

				.gallery-icon {
					img {
						margin-bottom: 0;
					}
				}
			}
			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

	//Hide "Category" on Archive pages
	.screen-reader-text {display: none;}


/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $accent;

      &:hover, &:focus {
      	background-color: $accent;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

//@import "partials/comments";

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

.widgettitle {
	&:before {
		font-family: fontawesome;
		color: $primary-lt;
		margin-right: .5em;
		width: 1em;
		display: inline-block;
	}
}

	.widget {

		&.widget_recent_entries {
			.widgettitle {
				&:before {
					content: "\f1ea";
				}
			}
		}

		&.widget_recent_comments {
			.widgettitle {
				&:before {
					content: "\f0e5";
				}
			}
		}

		&.widget_archive {
			.widgettitle {
				&:before {
					content: "\f187";
				}
			}
		}

		&.widget_categories {
			.widgettitle {
				&:before {
					content: "\f142";
				}
			}
		}

		ul {
			margin-left: 1em;

			li {

				&:first-child {}

				&:last-child {}

				a {
					text-decoration: none;
				}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

#inner {
	&__footer {
		max-width: 1280px;
		margin:0 auto;
		flex-direction: row;
		display: flex;
		flex-wrap: wrap;

		.col-1, .col-2 {
			display: flex;
		}

		.col-1 {
			justify-content: center;
			margin-bottom: 2em;
		}

		.col-2 {
			justify-content: center;
		}
		.nav {
			opacity: 1;
			flex-direction: row;
			height: auto;
			flex-wrap: wrap;
			justify-content: flex-start;
			margin-bottom: 2em;

			li {
				border-bottom: 0px;
			}
		}

		ul {
			margin: 0;
			li {
				text-align: left;
				width: 50%;
				font-weight: bold;
				font-family: $display;
				color: white;


				a {
					color: white;
					text-transform: capitalize;

				}

				&:last-child {
					border-right: 0px;
				}
			}
		}
		ul.sub-menu {
			visibility: visible;
			position: relative;
			background: transparent;
			border:0px;
			margin-left: 1em;

			li {
				text-align: left;
				border-right: 0px;
				font-weight: normal;
				border-left: 1px solid $primary-lt;
				width: 100%;



				a {
					border-bottom: 0px;
					text-transform: uppercase;
				}
			}
		}
	}
}

.footer {
	clear: both;
	background-color: $primary;
	color: $light-gray;
	min-height: 200px;
	display: flex;
	align-items: center;
	padding: 2em .5em 3em .5em;
}

.contact--info {
	padding-top: 1em;
	h2, .h2 {
		margin-bottom: 0;
		color: white;
	}
	h4, .h4 {
		margin: 0;
	}

	a {
		color: white;
	}

	p {
		margin:0;

		&:first-child {
			font-size: 1.5em;
			font-weight: bold;
		}

		&:last-child {
			span {
				margin-left: .5em;
				display: inline-block;

				&:first-child {
					margin-left: 0;

					&:after {
						content: " | ";
						margin-left: .5em;
					}


				}
			}
		}
	}
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {
		padding-top:.5em;
	}
